doctype html
html
  include ./../blocks/head/head.jade
  body
    .header
      .header__items
        include ./../blocks/menu/menu

  h1.center
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium exercitationem nemo odio provident veniam voluptatum.

  .center
    .left
      img(src='https://via.placeholder.com/250')
    .right
      h2 Lorem ipsum dolor sit amet, consectetur adipisicing.
      .red-btn Lorem ipsum dolor.


  include ./../blocks/view1/blade

  include ./../blocks/footer/footer.jade