<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue Form Validation </title>
    <!-- awesome core  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/lib/fonts/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <script src="/lib/vue/vuedev.js"></script>
</head>

<body>
    <div class="container mt-3 mt-sm-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form id="form" method="post" v-on:submit="validateForm">
                    <div class="form-group">
                        <label class="form-control-label" for="name">Name</label>
                        <input id="name" name="name" class="form-control" type="text" v-model="name" v-bind:class="{ 'is-invalid': attemptSubmit && missingName }">
                        <div class="invalid-feedback">This field is required.</div>
                    </div>
                    <!-- /form-group -->
                    <div class="form-group">
                        <label class="form-control-label" for="number">Enter a number between 1 and 10</label>
                        <input id="number" name="number" class="form-control" type="text" v-model="number" v-bind:class="{ 'is-invalid': attemptSubmit && wrongNumber }">
                        <div class="invalid-feedback">Make sure this is a number between 1 and 10.</div>
                    </div>
                    <!-- /form-group -->
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lib/jquery-3.2.1.slim.min.js"></script>
    <script src="/lib/popper.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/holder.min.js"></script>
    <script>
    var form = new Vue({
        el: '#form',
        data: {
            name: '',
            number: '',
            attemptSubmit: false,
        },
        computed: {
            missingName: function() { return this.name === ''; },
            wrongNumber: function() {
                return (
                    this.isNumeric(this.number) === false ||
                    this.number < 1 ||
                    this.number > 10
                )
            },
        },
        methods: {
            isNumeric: function(n) {
                return !isNaN(parseFloat(n)) && isFinite(n);
            },

            validateForm: function(event) {
                this.attemptSubmit = true;
                if (this.missingName || this.wrongNumber) event.preventDefault();
            },
        },
    });
    </script>
</body>

</html>