body {
  margin: 0;
  padding: 0;
  background-color: #222;
  background: url(/static/Flat-Mountains1.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center{
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  border: 1px solid #000;
  text-align: center;
  display: flex;
}

.left{
  width: 40%;
  background-color: #0a246a;
}
.red-btn{
  padding: 10px;
  background-color: #f44;
  border-radius: 7px;
  width: 300px;
  font-size: 20px;
  margin:auto;
}
.right{
  width: 60%;
  background-color: #5cb85c;
}

