footer
  .footer__form
      .footer__form--element footer
blade.test asd
script(src='/vendor/jquery/jquery.js')
script(src='/vendor/jqueryui/jquery-ui.min.js')
script(src='/js/scripts.js')
script(src='/all.js')
