h1 заголовок
h3 tema
hr
pre
| preasd
| ada
hr  

h3 GCP
a(href='https://console.cloud.google.com/compute/instances')
    | просмотр ваших машин
p
    img(src='19-13-36.png')
pre 
    | ssh-keygen -t rsa -f ~/.ssh/[KEY_FILENAME] -C [USERNAME] 
    |      