head
    title Test
    link(href='/all.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')
    link(href='/vendor/jqueryui/jquery-ui.min.css' rel='stylesheet')
    link(href='/vendor/jqueryui/jquery-ui.structure.min.css' rel='stylesheet')
    link(href='/vendor/jqueryui/jquery-ui.theme.min.css' rel='stylesheet')