<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>angular / form </title>
    <!-- awesome core  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/lib/fonts/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/test/angular/directive/dataRange/lib/daterangepicker.css" rel="stylesheet">

    <script type="text/javascript" src="/lib/angular.min.js"></script>
</head>


<body ng-app="myapp" ng-controller="OurController as ctrl" ng-cloak>
    <div class="col-md-3">
        <div class="form-group">
            <label>Электронная почта</label>
            <div class="form-group">
                <div class="input-group" ng-repeat="email in ctrl.currentItem.our_emails">
                    <input type="hidden" ng-model="email.id">
                    <input type="email" class="form-control" ng-model="email.email">
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="ctrl.currentItem.our_emails.splice($index, 1);">
                                    <i class="fa fa-close"></i>
                                </button>
                            </span>
                </div>
                <button type="button" class="btn btn-default" ng-click="ctrl.currentItem.our_emails.push({});">
                    <i class="fa fa-plus"></i> Добавить почту
                </button>
                <button type="button" class="btn btn-default" ng-click="ctrl.log();">
                    <i class="fa fa-plus"></i> log
                </button>
                <button type="button" class="btn btn-default" ng-click="ctrl.gg();">
                    <i class="fa fa-plus"></i> refresh
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Дата отсылки платёжного поручения </label>
            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched"
                   ng-model="ctrl.currentItem.date_get_accrual" date-range-picker>
        </div>
    </div>
    <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lib/jquery-3.2.1.slim.min.js"></script>
    <script src="/lib/popper.min.js"></script>
    <script src="/lib/bootstrap.min.js"></script>
    <script src="/lib/holder.min.js"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/test/angular/directive/dataRange/lib/moment.min.js"></script>
    <script src="/test/angular/directive/dataRange/lib/daterangepicker.js"></script>
    <script src="js.js"></script>

    <script type="text/javascript">
        $(function() {
            $('input[name="daterange"]').daterangepicker();
        });
    </script>
</body>

</html>