<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>bootstrap/form </title>
    <!-- awesome core  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/lib/fonts/font-awesome.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/lib/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div id="app">
    {{message}}
    <button-counter>asdsd</button-counter>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/lib/jquery-3.2.1.slim.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<script src="/lib/vue/axios.min.js"></script>
<script src="/lib/vue/vuedev.js"></script>
<script src="script.js"></script>

</body>

</html>