.header__items {
  display: flex;
  width: 100%;
  height: 35px;
}

.header__items--element {
  border: 1px solid #000;
  height: 100%;
  width: 100%;
  background: #b00;
}

.footer__form {
  display: flex;
  width: 100%;
  height: 35px;
  position: relative;
  bottom: 0;
}

.footer__form--element {
  border: 1px solid #000;
  height: 100%;
  width: 100%;
  background: #b00;
}
