.menu
    .menu__item
        .menu__item--logo
            | Logo
        .menu__item--deviz Lorem ipsum dolor sit amet.
    .menu__item
        .menu__item--pull-right
            .menu__item--phone
                |8 (800) 300-00-00
        .menu__item--pull-right
            .menu__item--blue-btn
                |заказать звонок