doctype html
html
  head
    title Test
    link(href='/dist.css' rel='stylesheet')
    link(href='/all.css' rel='stylesheet')
    link(href='/css/main.css' rel='stylesheet')

  block body


footer
    .footer__form
        .footer__form--element footer
script(src='/dist.js')
script(src='/all.js')
script(src='/js/scripts.js')
