doctype html
html
    head
        title Test
        style
            include ../../../../public/dist.css
            include ../../../../public/all.css
            include ../../../../public/css/main.css

    block body

footer
    .footer__form
        .footer__form--element footer
script
    include ../../../../public/dist.js
    include ../../../../public/all.js
    include ../../../../public/js/scripts.js
