doctype html
html
  include ./blocks/head/head.jade
  body
    .header
      .header__items
        include ./blocks/menu/menu

  block content

  include ./blocks/view1/blade
  include ./blocks/footer/footer.jade