// Footer
footer.bg-black.small.text-center.text-white-50
  .container
    | Copyright © Your Website 2019
// Bootstrap core JavaScript
script(src='/dist.js')
//script(src='/all.js')
// Plugin JavaScript
//script(src="vendor/jquery-easing/jquery.easing.min.js")
// Custom scripts for this template
