extends ./../main
block content
  h1.center
    | Lore ipsum dolor si t amet, consectetur adipisicing elit. Accusantium exercitationem nemo odio provident veniam voluptatum.
  .center
    .left
      img(src='https://via.placeholder.com/250')
    .right
      h2 Lo rem ipsum dolor sit amet, consectetur adipisicing.
      .red-btn Lorem ipsum dolor.
